#visual{
  float: right;
}
html{
  margin-right: 20px;
  margin-left: 60px;
  background-color:white;
}
body{
  width: 1300px;
  height: 800px;
  background-color:lightblue;
  margin: 20px;
  border: solid black 2px;
  box-shadow: 11px 16px #888888;
}
#nav{
  padding:40px;
}


 .error {color: #FF0000;}